<a href="https://colab.research.google.com/github/ahmedrabiem/AI-iti/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [41]:
num1=int(input("pls enter fir number"))
num2=int(input("pls enter sec number"))
num3=int(input("pls enter th number"))

pls enter fir number3
pls enter sec number4
pls enter th number5

In [42]:
print(num1+num2)
print(num3-num1)
print(num1*num2+num3)
print(num1*(num2+num3))
print(num3/num1)
print(num3//num1)
print(num3%num1)

7
2
17
27
1.6666666666666667
1
2

In [33]:
num1f=float(num1)
num2f=float(num2)
num3f=float(num3)

print(type(num1f))
print(type(num2f))
print(type(num3f))

<class 'float'>
<class 'float'>
<class 'float'>

Q2

In [7]:
x,y,z,g = 1,2,3,4
print(x+y*z/g)
print(y**z)

2.5
8

Q3

In [11]:
str_a = "Python "
str_b = " is a "
str_c = " times fun language "
num = 1000
str_ab=str_a +str_b + str(num) + str_c
print(str_ab)

Python  is a 1000 times fun language

Q1

In [36]:
num = int(input("pls nter num: "))
if num % 2 == 0:
    print("even")
else:
    print("odd")

pls nter num: 56
even

Q2

In [25]:
score = int(input("pls enter your grad: "))
if score >= 50:
    print("pass")
else:
    print("fail")

pls enter your grad: 78
pass

Q3

In [35]:
a = int(input("enter fir num: "))
b = int(input("enter sec num: "))
c = int(input("enter thi num: "))
print(max(a, b, c))

enter fir num: 324
enter sec num: 65
enter thi num: 36456
36456

Q4

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Q5

In [21]:
score = int(input("pls enter your grade: "))
if 90 <= score <= 100:
    print("grade: A")
elif 80 <= score <= 89:
    print("grade: B")
elif 70 <= score <= 79:
    print("grade: C")
elif 60 <= score <= 69:
    print("grade: D")
else:
    print("grade: F")

pls enter your grade: 98
grade: A

Q6

In [24]:
num = int(input("pls enter num: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

pls enter num: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Q7

In [28]:
x = 0
for i in range(1, 51):
    if i%2== 0:
        x+= i
print(x)

650

Q8

In [34]:
n = int(input("enter num: "))
fact =1
i=1
while i <= n:
    fact *= i
    i += 1
print(fact)

enter num: 4
24